<h2>Funded by</h2>

<figure>
<div class="table-wrapper table-responsive-lg mb-5" role="group" tabindex="0" aria-labelledby="table-caption">
  <table class="table">
	<thead>
	  <tr>
		<th># <span class="visually-hidden">Rank</span></th>
		<th>Name</th>
		<th>Total funded</th>
		<th>Profile</th>
	  </tr>
	</thead>
	<tbody>
	

	
	<% @allocation.funders.each_with_index do |account, i| %>
	  <tr class="">
		<td><%= i + 1 %></td>
		<td class="position-relative">
			<%= image_tag(account[:image_url], class: 'img-fluid rounded-circle me-3 position-absolute', height: '36', width: '36') %>
			<div class="ps-5 pt-1 pb-2">
			  <%= account[:name] %>
			</div> 
		</td>
		<td><%= number_to_currency account[:amount] %></td>
		<td>
		<a href="<%= "https://#{ENV['OPENCOLLECTIVE_DOMAIN']}/#{account[:slug]}" %>" class="block-link block-link--spesh">Open Collective <%= bootstrap_icon 'box-arrow-up-right', width: 16, height: 16 %> </a>
		</td>
		
	  </tr>
	<% end %>

	</tbody>
  </table>
</div>
</figure>