<h2>Funded by</h2>

<figure>
<div class="table-wrapper table-responsive-lg mb-5" role="group" tabindex="0" aria-labelledby="table-caption">
  <table class="table">
	<thead>
	  <tr>
		<th># <span class="visually-hidden">Rank</span></th>
		<th>Name</th>
		<th>Total funded</th>
		<th>Profile</th>
	  </tr>
	</thead>
	<tbody>
	

	
	<% @allocation.funders.each_with_index do |account, i| %>
	  <tr class="">
		<td><%= i + 1 %></td>
		<td><%= image_tag(account[:image_url], class: 'img-fluid rounded-circle me-3', height: '36', width: '36') %><%= account[:name] %></td>
		<td><%= number_to_currency account[:amount] %></td>
		<td>
		<a href="<%= "https://#{ENV['OPENCOLLECTIVE_DOMAIN']}/#{account[:slug]}" %>" class="block-link block-link--spesh">Open Collective <%= bootstrap_icon 'box-arrow-up-right', width: 16, height: 16 %> </a>
		</td>
		
	  </tr>
	<% end %>

	</tbody>
  </table>
</div>
</figure>