<figure>
  <figcaption id="table-caption" class="mb-4">
    <h2>Funding allocation</h2>
  </figcaption>
  <div class="table-wrapper table-responsive-lg" role="group" tabindex="0" aria-labelledby="table-caption">
    <table class="table">
      <thead>
        <tr>
          <th># <span class="visually-hidden">Rank</span></th>
          <th>Project</th>
          <th>Amount</th>
          <th>Downloads</th>
          <th>Dependent Repos</th>
          <th>Dependent Packages</th>
        </tr>
      </thead>
      <tbody>
        <% @project_allocations.reject{|pa| pa.project_url.nil? || @allocation.completed? && !pa.success? }.each_with_index do |project_allocation, i| %>

          <!-- Main Row -->
          <tr class="clickable-row <%= 'row-rejected' if project_allocation.project_funding_rejected %>" data-bs-toggle="collapse" data-bs-target="#details-<%= i %>" role="button" aria-controls="#details-<%= i %>">
            <td><%= i + 1 %></td>
            <td><%= link_to project_allocation.project_name, project_allocation.project_url, target: :_blank %></td>
            <td><%= number_to_currency project_allocation.amount_cents / 100.0 %></td>
            <td>
              <%= number_to_human(project_allocation.project_downloads, format: '%n%u', units: { thousand: 'K', million: 'M', billion: 'B' }) %>
            </td>
            <td>
              <%= number_to_human(project_allocation.project_dependent_repos, format: '%n%u', units: { thousand: 'K', million: 'M', billion: 'B' }) %>
            </td>
            <td>
              <%= number_to_human(project_allocation.project_dependent_packages, format: '%n%u', units: { thousand: 'K', million: 'M', billion: 'B' }) %>
            </td>
          </tr>

          <!-- Expandable Row -->
          <tr id="details-<%= i %>" class="collapse">
            <td colspan="6">
              <div class="collapse" id="details-<%= i %>">
                <div class="p-4 well">
                  <p><%= bootstrap_icon 'git', width: 18, height: 18 %> <span class="visually-hidden">Repository:</span> <%= link_to project_allocation.project_url, project_allocation.project_url, target: :_blank %></p>
                  <% if project_allocation.project_funding_rejected %>
                    <p><%= bootstrap_icon 'piggy-bank-fill', width: 18, height: 18 %> <span class="visually-hidden">Funding:</span> Funding Rejected</p>
                  <% elsif project_allocation.funding_source && project_allocation.funding_source.approved? %>
                    <p><%= bootstrap_icon 'piggy-bank-fill', width: 18, height: 18 %> <span class="visually-hidden">Funding:</span> <%= link_to project_allocation.funding_source.url, project_allocation.funding_source.url, target: :_blank %></p>
                  <% else %>
                    <% if project_allocation.success? %>
                      <p><%= bootstrap_icon 'piggy-bank-fill', width: 18, height: 18 %> <span class="visually-hidden">Funding:</span> Paid</p>
                    <% elsif project_allocation.invitation.present? %>
                      <% if project_allocation.project_funding_rejected %>
                        <p><%= bootstrap_icon 'piggy-bank-fill', width: 18, height: 18 %> <span class="visually-hidden">Funding:</span> Invitation Rejected on <%= project_allocation.invitation.rejected_at.strftime('%B %d, %Y') %></p>
                      <% elsif project_allocation.invitation_accepted? %>
                        <p><%= bootstrap_icon 'piggy-bank-fill', width: 18, height: 18 %> <span class="visually-hidden">Funding:</span> Invitation Accepted on <%= project_allocation.invitation.accepted_at.strftime('%B %d, %Y') %></p>
                      <% else %>
                        <p><%= bootstrap_icon 'piggy-bank-fill', width: 18, height: 18 %> <span class="visually-hidden">Funding:</span> Invitation Pending</p>
                      <% end %>
                    <% else %>
                      <p><%= bootstrap_icon 'piggy-bank-fill', width: 18, height: 18 %> <span class="visually-hidden">Funding:</span> Contacting Maintainer</p>
                    <% end %>
                  <% end %>  
                </div>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</figure>