<% @meta_title = "#{@fund.name} - #{@allocation.created_at.strftime('%B %d, %Y')}" %>
<% @meta_description = @fund.description %>

<%= render 'funds/header' %>

<div class="container">
  <div class="row">
  <% if @allocation %>
    <%= render 'allocations/header' %>
    
  <div class="row">

  	<div class="col-xl-3">
    	<%= render 'allocations/details' %>
	  </div>

    <div class="col-xl-9">
      <%= render 'allocations/funders' %>
      <%= render 'allocations/table' %>
    <% else%>
      <div class="row align-items-center">
        <div class="col-lg-6">
          <%= image_tag("coming-soon.svg", alt: "", class: "img-fluid", size: "500x460") %>
        </div>
        <div class="col-lg-6">
          <h2>Coming soon</h2>
          <p>Contact us about supporting the <%= @fund.name %> Ecosystem.</p>
          <p><a href="mailto:hello@oscollective.org " class="btn btn-primary">Contact us</a></p>
        </div>
      </div>
    <% end %>
    </div>
    <p class="text-end mt-3">
      <small class='text-muted'>
      Projects considered for this fund
      <% if @fund.registry_name %>
        are the most critical packages published to <strong><%= @fund.registry_name %></strong>.
      <% else %>
        have one of the following topics or keywords: <strong><%= @fund.all_keywords.join(', ') %></strong>.
      <% end %>
      </small>
    </p>
  </div>
</div>
