<tr class="py-3">
	<td class="position-relative">
    <img src="<%= project.avatar_url %>" height='36' width='36' onerror="this.style.display='none'" class="me-3 position-absolute" loading="lazy" >
    <div class="ps-5 pt-1 pb-2">
      <%= link_to project, project.url %>
    </div> 
	</td>

	<td>
    <%= number_to_currency(project.total_allocated / 100.0) %>
	</td>
  <td>
    <%= number_to_human(project.total_downloads, format: '%n%u', units: { thousand: 'K', million: 'M', billion: 'B' }) %>
  </td>
  <td>
    <%= number_to_human(project.total_dependent_repos, format: '%n%u', units: { thousand: 'K', million: 'M', billion: 'B' }) %>/<%= number_to_human(project.total_dependent_packages, format: '%n%u', units: { thousand: 'K', million: 'M', billion: 'B' }) %>
  </td>
</tr>

