<div class="container-sm">

  <h1><%= @funding_source.platform %>: <%= @funding_source.name %></h1>
  <%= link_to @funding_source.url, @funding_source.url %>

  <h3>Projects</h3>

  <%= render @projects %>
  <%== pagy_bootstrap_nav(@pagy) if @pagy.pages > 1 %>

  <h3>Allocations</h3>

  <%= render @project_allocations %>
  <%== pagy_bootstrap_nav(@project_allocations_pagy) if @project_allocations_pagy.pages > 1 %>  

</div>