<div class="container">
  <div class="row">

    <h2>Invitations Admin</h2>

    <ul class='list-unstyled'>
      <li>Total: <%= @invitations.length %></li>
      <li>Pending: <%= @invitations.select { |i| i.accepted_at.blank? && i.rejected_at.blank? }.count %></li>
      <li>Accepted: <%= @invitations.select { |i| i.accepted_at.present? }.count %></li>
      <li>Rejected: <%= @invitations.select { |i| i.rejected_at.present? }.count %></li>
    </ul>

    <table class='table'>
      <thead>
        <tr>
          <th>Fund</th>
          <th>Project</th>
          <th>Email</th>
          <th>Invited</th>
          <th>State</th>
        </tr>
      </thead>
      <tbody>
        <% @invitations.each do |invitation| %>
          <tr>
            <td>
              <%= link_to invitation.fund_name, fund_path(invitation.fund_slug) %>
            </td>
            <td>
              <%= link_to invitation.project_name, invitation.url, target: :_blank %>
            </td>
            <td><%= invitation.email %></td>
            <td><%= invitation.created_at.strftime('%Y-%m-%d %H:%M:%S') %></td>
            <td>
              <% if invitation.accepted_at.present? %>
                <span class='invitation-status label-accepted'>Accepted</span>
              <% elsif invitation.rejected_at.present? %>
                <span class='invitation-status label-rejected'>Rejected</span>
              <% else %>
                <span class='invitation-status label-pending'>Pending</span>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

  </div>
</div>  
