<div class="container">
  <div class="row">
    <h2>Invitations Admin</h2>

    <ul class='list-inline'>
      <li class="list-inline-item">Total: <%= @invitations.length %></li>
      <li class="list-inline-item">
        Pending: <%= @invitations.select { |i| i.accepted_at.blank? && i.rejected_at.blank? }.count %> (<%= (@invitations.select { |i| i.accepted_at.blank? && i.rejected_at.blank? }.count.to_f / @invitations.length * 100).round(2) %>%)
      </li>
      <li class="list-inline-item">
        Accepted: <%= @invitations.select { |i| i.accepted_at.present? }.count %> (<%= (@invitations.select { |i| i.accepted_at.present? }.count.to_f / @invitations.length * 100).round(2) %>%)
      </li>
      <li class="list-inline-item">
        Rejected: <%= @invitations.select { |i| i.rejected_at.present? }.count %> (<%= (@invitations.select { |i| i.rejected_at.present? }.count.to_f / @invitations.length * 100).round(2) %>%)
      </li>
    </ul>
  </div>

    <table class='table'>
      <thead>
        <tr>
          <th>
            <%= link_to admin_invitations_path(sort: "fund", order: params[:order] == "asc" ? "desc" : "asc") do %>
              Fund
              <% if params[:sort] == "fund" %>
                <%= bootstrap_icon params[:order] == 'asc' ? 'caret-up-fill' : 'caret-down-fill', width: 18, height: 18 %>
              <% end %>
            <% end %>
          </th>
          <th>Project</th>
          <th>
            <%= link_to admin_invitations_path(sort: "amount", order: params[:order] == "asc" ? "desc" : "asc") do %>
              Amount
              <% if params[:sort] == "amount" %>
                <%= bootstrap_icon params[:order] == 'asc' ? 'caret-up-fill' : 'caret-down-fill', width: 18, height: 18 %>
              <% end %>
            <% end %>
          </th>
          <th>Email</th>
          <th>Invited</th>
          <th>
            <%= link_to admin_invitations_path(sort: "status", order: params[:order] == "asc" ? "desc" : "asc") do %>
              Status
              <% if params[:sort] == "status" %>
                <%= bootstrap_icon params[:order] == 'asc' ? 'caret-up-fill' : 'caret-down-fill', width: 18, height: 18 %>
              <% end %>
            <% end %>
        </tr>
      </thead>
      <tbody>
        <% @invitations.each do |invitation| %>
          <tr>
            <td>
              <%= link_to invitation.fund_name, fund_path(invitation.fund_slug) %>
            </td>
            <td>
              <%= link_to invitation.project_name, invitation.url, target: :_blank %>
              <% if invitation.project.funding_links.any? %>
<span 
  title="<%= invitation.project.funding_links.join(', ') %>" 
  data-bs-toggle="tooltip" 
  data-bs-placement="top" 
  style="max-width: 600px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
  <%= bootstrap_icon 'piggy-bank-fill', width: 18, height: 18 %>
</span>
              <% end %>
            </td>
            <td><%= number_to_currency(invitation.project_allocation.amount_cents / 100.0) %></td>
            <td><%= invitation.email %></td>
            <td><%= invitation.created_at.strftime('%Y-%m-%d %H:%M:%S') %></td>
            <td>
              <% if invitation.accepted_at.present? %>
                <span class='invitation-status label-accepted'>Accepted</span>
              <% elsif invitation.rejected_at.present? %>
                <span class='invitation-status label-rejected'>Rejected</span>
              <% else %>
                <span class='invitation-status label-pending'>Pending</span>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

  </div>
</div>  
