<div class="fund-header purple-grad-bg  mb-5 pt-4 pb-4">
  <div class="container">
    <div class="row">
      <% if @fund.logo_url.present? %>
        <div class="col-md-1 mb-3 pt-3">
          <img src="<%= @fund.logo_url %>" alt="" class="img-fluid fund-logo" onerror="this.style.display='none'">
        </div>
      <% end %>
      <div class="<% if @fund.logo_url.present? %>col-md-11<% end %>">
   
        <h1 class="display-1 extra-bold"><%= @fund.name %></h1>
        <p><%= @fund.description %></p>
        <% if @fund.open_collective_project_url.present? %>
          <%= link_to "Fund the #{@fund.name} Ecosystem on Open Collective", donate_fund_path(@fund), class: 'btn btn-success btn-fund-header-cta dark-shadow rounded-pill mb-3' %>
        <% else %>
          <%= form_with url: setup_fund_path(@fund), method: :post, class: 'd-inline' do %>
            <%= submit_tag "Fund the #{@fund.name} Ecosystem on Open Collective", class: 'btn btn-success btn-fund-header-cta dark-shadow rounded-pill mb-3' %>
          <% end %>
        <% end %>

        <div class="fund-header-stats">
          <div class="fund-stat-bar mb-2 mb-md-3">
            <div class="stat-card mb-2">
              <div class="stat-card-body">
                <span class="stat-card-title"><%= number_to_currency (@allocation.try(:total_cents) || 0)/100.0 %></span>
                <span class="stat-card-text small">Total funded</span>
              </div>
            </div>

            <div class="stat-card mb-2">
              <div class="stat-card-body">
                <span class="stat-card-title"><%= @allocation.try(:funders_count) || 0 %></span>
                <span class="stat-card-text small">Funders</span>
              </div>
            </div>

            <div class="stat-card mb-2">
              <div class="stat-card-body">
                <span class="stat-card-title"><%= @allocation.try(:funded_projects_count) || 0 %></span>
                <span class="stat-card-text small">Projects</span>
              </div>
            </div>
          </div> 
        </div>
        
      </div>
    </div>
    <div class="row">
      <div class="col-12">
          <nav class="inverted-nav mt-2 pt-4">
            <ul class="nav nav-pills me-3">
              <li class="nav-item">
                <a class="nav-link me-3 active" aria-current="page" href="<%= fund_path(@fund) %>">Overview</a>
              </li>
              <!--
              <li class="nav-item">
                <a class="nav-link me-3" aria-current="page" href="<%= fund_allocations_path(@fund) %>">Allocations</a>
              </li> 
              -->
              <li class="nav-item">
                <a class="nav-link me-3" aria-current="page" href="<%= funders_fund_path(@fund) %>">Funders</a>
              </li>
              <li class="nav-item">
                <a class="nav-link me-3" aria-current="page" href="<%= fund_projects_path(@fund) %>">Projects</a>
              </li>
            </ul>
          </nav>
      </div>
    </div>
  </div>
</div>