<div class="fund-header purple-grad-bg  mb-5 pt-4 pb-4">
  <div class="container">
    <div class="row">
      <% if @fund.logo_url.present? %>
        <div class="col-md-1 mb-3 pt-3">
          <img src="<%= @fund.logo_url %>" alt="" class="img-fluid fund-logo" onerror="this.style.display='none'">
        </div>
      <% end %>
      <div class="<% if @fund.logo_url.present? %>col-md-11<% end %>">
   
        <h1 class="display-1 extra-bold"><%= @fund.name %></h1>

        <div class="fund-header-stats">
          <div class="fund-stat-bar mb-2 mb-md-3">
            <div class="stat-card mb-2">
              <div class="stat-card-body">
                <span class="stat-card-title"><%= number_to_currency (@allocation.try(:total_cents) || 0)/100.0 %></span>
                <span class="stat-card-text small">Total funded</span>
              </div>
            </div>

            <div class="stat-card mb-2">
              <div class="stat-card-body">
                <span class="stat-card-title"><%= @allocation.try(:funders_count) || 0 %></span>
                <span class="stat-card-text small">Funders</span>
              </div>
            </div>

            <div class="stat-card mb-2">
              <div class="stat-card-body">
                <span class="stat-card-title"><%= @allocation.try(:funded_projects_count) || 0 %></span>
                <span class="stat-card-text small">Projects</span>
              </div>
            </div>
          </div> 
        </div>
        
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="mb-3 mb-md-5">
      <h2 class="h1 extra-bold">
        Donate to the <%= @fund.name %> ecosystem
      </h2>
    </div>
  </div>

  <% if params[:embed].blank? && params[:OrderId].blank? %>

    <div class="row">
      <div class="col-12 col-lg-8">

        <div class="card mb-3 grey-grad-bg p-3 border-0 rounded-4">
          <div class="row g-0">
            <div class="col-2 col-md-1 pt-3">
              <%= image_tag("stone-1.svg", alt: "", class: "img-fluid", size: "62x62") %>
            </div>
            <div class="col-10 col-md-11">
              <div class="card-body">
                <h2 class="card-title">As an individual</h2>
                <p class="card-text">Donate instantly with a credit card, or log in to use Open Collective</p>
                <p class="card-text mt-4"><a href="<%= donate_fund_path(@fund, embed: true) %>" class="btn btn-primary rounded-pill me-md-3">Donate instantly</a>
                <a href="<%= @fund.open_collective_project_donate_url(redirect_url: request.original_url) %>" class="btn btn-success rounded-pill mt-3 mt-md-0 mt-lg-3 mt-xl-0">Donate with Open Collective</a></p>
              </div>
            </div>
          </div>
        </div>

        <div class="card mb-3 grey-grad-bg p-3 mt-5 border-0 rounded-4">
          <div class="row g-0">
            <div class="col-2 col-md-1 pt-3">
              <%= image_tag("stone-group.svg", alt: "", class: "img-fluid", size: "62x55") %>
            </div>
            <div class=" col-10 col-md-11">
              <div class="card-body">
                <h2 class="card-title">On behalf of an organisation</h2>
                <p class="card-text">Request an invoice or vendor registration, or donate on behalf of your organisation with your Open Collective account</p>
                <p class="card-text mt-4"><a href="<%= @fund.invoice_mailto_url %>" class="btn btn-danger rounded-pill me-md-3">Request an invoice</a>
                <a href="<%= @fund.open_collective_project_donate_url(redirect_url: request.original_url) %>" class="btn btn-success rounded-pill  mt-3 mt-md-0 mt-lg-3 mt-xl-0">Donate with Open Collective</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-4 page-content">
        <h3 class="mt-lg-0">How donating works</h3>
        <p>Donations are allocated and distributed between the projects in this ecosystem monthly. The next allocation takes place on <strong>25 December 2024</strong>.
        </p>
        <p>Projects receive their share based on a combination of observed usage amongst 240m tracked repositories and downloads for 10.7m tracked packages.</p>
        <p><a href="<%= overview_path %>">Read more in our overview</a></p>
      </div>
    </div>

  <% elsif params[:embed].present? %>

    <div class="row">
      <div class="col-12 col-lg-8">

      <iframe src="<%= @fund.open_collective_project_embed_url(redirect_url: request.original_url) %>" style="width: 100%; min-height: 100vh;" sandbox="allow-scripts allow-top-navigation"></iframe>

      </div>
      <div class="col-12 col-lg-4 page-content">
        <h3 class="mt-lg-0">How donating works</h3>
        <p>Donations are allocated and distributed between the projects in this ecosystem monthly. The next allocation takes place on <strong>25 December 2024</strong>.
        </p>
        <p>Projects receive their share based on a combination of observed usage amongst 240m tracked repositories and downloads for 10.7m tracked packages.</p>
        <p><a href="<%= overview_path %>">Read more in our overview</a></p>
      </div>
    </div>

  <% elsif params[:OrderId].present? %>

    <div class="row">
      <div class="col-12 col-lg-8">

        <div class="card mb-3 grey-grad-bg p-3 border-0 rounded-4">
          <div class="row g-0">
            <div class="col-7">
              <div class="card-body">
                <h2 class="card-title">Thank you</h2>
                <div class="stat-card mt-4">
                  <div class="stat-card-body">
                    <span class="stat-card-title color-green-dark">$10,000.00</span>
                    <span class="stat-card-text small">Your donation</span>
                  </div>
                </div>
                <p class="card-text mt-4">Your generosity has raised the fund total amount and will be sent out to projects in the next allocation</p>
                <div class="stat-card mt-4">
                  <div class="stat-card-body">
                    <span class="stat-card-title color-green-dark">$10,000.00</span>
                    <span class="stat-card-text small">New fund total</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-5 pt-3">
              <%= image_tag("success-stones.svg", alt: "", class: "img-fluid pt-2", size: "590x480") %>
            </div>
          </div>
        </div>

      </div>
      <div class="col-12 col-lg-4 page-content">
        <h3 class="mt-lg-0">What happens next?</h3>
        <p>Your donation will be sent out to <strong><%= @fund.name %> ecosystem projects</strong> in the next allocation, happening on <strong>25 December 2024</strong>.</p>
        <h3>Need to amend your donation?</h3>
        <p><a href="<%= "https://#{ENV['OPENCOLLECTIVE_DOMAIN']}" %>">Log in</a> to your Open Collective account to make changes until 25th December 2024.
        </p>
        <h3>Any problems at all</h3>
        <p><a href="mailto:hello@oscollective.org">Contact us</a></p>
      </div>
    </div>
  <% end %>

</div>