

<%= render 'funds/header' %>

<div class="container">
  <div class="row">
    <div class="mb-3 mb-md-5">
      <h2 class="h1 extra-bold">
        Donate to the <%= @fund.name %> ecosystem
      </h2>
    </div>
  </div>

  <% if params[:embed].blank? && params[:OrderId].blank? %>

    <div class="row">
      <div class="col-12 col-lg-8">

        <div class="card mb-3 grey-grad-bg p-3 border-0 rounded-4">
          <div class="row g-0">
            <div class="col-2 col-md-1 pt-3">
              <%= image_tag("stone-1.svg", alt: "", class: "img-fluid", size: "62x62") %>
            </div>
            <div class="col-10 col-md-11">
              <div class="card-body">
                <h2 class="card-title">As an individual</h2>
                <p class="card-text">Donate instantly with a credit card, or log in to use Open Collective</p>
                <p class="card-text mt-4"><a href="<%= donate_fund_path(@fund, embed: true) %>" class="btn btn-primary rounded-pill me-md-3" aria-label="Donate instantly to <%= @fund.name %>">Donate instantly</a>
                <a href="<%= @fund.open_collective_project_donate_url(redirect_url: request.original_url) %>" class="btn btn-success rounded-pill mt-3 mt-md-0  mt-xl-0" aria-label="Donate to <%= @fund.name %> via Open Collective">Donate with Open Collective</a></p>
              </div>
            </div>
          </div>
        </div>

        <div class="card mb-3 grey-grad-bg p-3 mt-5 border-0 rounded-4">
          <div class="row g-0">
            <div class="col-2 col-md-1 pt-3">
              <%= image_tag("stone-group.svg", alt: "", class: "img-fluid", size: "62x55") %>
            </div>
            <div class=" col-10 col-md-11">
              <div class="card-body">
                <h2 class="card-title">On behalf of an organisation</h2>
                <p class="card-text">Request an invoice or vendor registration, or donate on behalf of your organisation with your Open Collective account</p>
                <p class="card-text mt-4"><a href="<%= @fund.invoice_mailto_url %>" class="btn btn-danger rounded-pill me-md-3" aria-label="Request an invoice to donate to <%= @fund.name %>">Request an invoice</a>
                <a href="<%= @fund.open_collective_project_donate_url(redirect_url: request.original_url) %>" class="btn btn-success rounded-pill  mt-3 mt-md-0 mt-xl-0">Donate with Open Collective</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-4 page-content">
        <h3 class="mt-lg-0">How donating works</h3>
        <p>Donations are allocated and distributed between the projects in this ecosystem monthly. The next allocation takes place on <strong>3 March 2025</strong>.
        </p>
        <p>Projects receive their share based on a combination of observed usage amongst 240m tracked repositories and downloads for 10.7m tracked packages.</p>
        <p><a href="<%= overview_path %>">Read more in our overview</a></p>
      </div>
    </div>

  <% elsif params[:embed].present? && params[:OrderId].blank? %>

    <div class="row">
      <div class="col-12 col-lg-8">

      <iframe src="<%= @fund.open_collective_project_embed_url(redirect_url: request.original_url) %>" style="width: 100%; min-height: 100vh;"></iframe>

      <script>
        window.addEventListener('message', event => {
          if (event.origin.endsWith('<%= ENV['OPENCOLLECTIVE_DOMAIN'] %>')) {
            console.log(event); 
            if (event.data && event.data.event === 'success') {
              const url = new URL(window.location.href);
              url.searchParams.set('OrderId', event.data.payload.order.legacyId);
              window.location.href = url.toString();
            }
          }
        });
      </script>

      </div>
      <div class="col-12 col-lg-4 page-content">
        <h3 class="mt-lg-0">How donating works</h3>
        <p>Donations are allocated and distributed between the projects in this ecosystem monthly. The next allocation takes place on <strong>3 March 2025</strong>.
        </p>
        <p>Projects receive their share based on a combination of observed usage amongst 240m tracked repositories and downloads for 10.7m tracked packages.</p>
        <p><a href="<%= overview_path %>">Read more in our overview</a></p>
      </div>
    </div>

  <% elsif params[:OrderId].present? %>

    <div class="row">
      <div class="col-12 col-lg-8">

        <div class="card mb-3 grey-grad-bg p-3 border-0 rounded-4">
          <div class="row g-0">
            <div class="col-7">
              <div class="card-body">
                <h2 class="card-title">Thank you</h2>
                <div class="stat-card mt-4">
                  <div class="stat-card-body">
                    <span class="stat-card-title color-green-dark">
                      <%= number_to_currency @transaction.amount, unit: "$", precision: 2 %>
                    </span>
                    <span class="stat-card-text small">Your donation</span>
                  </div>
                </div>
                <p class="card-text mt-4">Your generosity has raised the fund total amount and will be sent out to projects in the next allocation</p>
                <div class="stat-card mt-4">
                  <div class="stat-card-body">
                    <span class="stat-card-title color-green-dark">
                      <%= number_to_currency @fund.current_balance %>
                    </span>
                    <span class="stat-card-text small">New fund total</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-5 pt-3">
              <%= image_tag("success-stones.svg", alt: "", class: "img-fluid pt-2", size: "590x480") %>
            </div>
          </div>
        </div>

      </div>
      <div class="col-12 col-lg-4 page-content">
        <h3 class="mt-lg-0">What happens next?</h3>
        <p>Your donation will be sent out to <strong><%= @fund.name %> ecosystem projects</strong> in the next allocation, happening on <strong>3 March 2025</strong>.</p>
        <h3>Need to amend your donation?</h3>
        <p><a href="<%= "https://#{ENV['OPENCOLLECTIVE_DOMAIN']}" %>">Log in</a> to your Open Collective account to make changes until 3 March 2025.
        </p>
        <h3>Any problems at all</h3>
        <p><a href="mailto:hello@oscollective.org">Contact us</a></p>
      </div>
    </div>
  <% end %>

</div>