<% @meta_title = @fund.name %>
<% @meta_description = @fund.description %>

<%= render 'funds/header' %>

<div class="container">
  <div class="row">
    <div class="fund-section-header mb-3 mb-md-5 d-flex justify-content-between align-items-center">
      <h2 class="h1 extra-bold">Funders</h1>
    </div>
    <div class="col-xl-3">
      <div class="fund-stat-bar fund-stat-bar--allocation-stat-bar mb-2 mb-md-3">
        <div class="stat-card mb-2">
          <div class="stat-card-body">
            <span class="stat-card-title">
              <%= @fund.funders.length %>
            </span>
            <span class="stat-card-text">Funders</span>
          </div>
        </div>

        <div class="stat-card mb-2">
          <div class="stat-card-body">
            <span class="stat-card-title">
              <%= @fund.repeat_funders.length %>
            </span>
            <span class="stat-card-text">Repeat funders</span>
          </div>
        </div>

        <div class="stat-card mb-2">
          <div class="stat-card-body">
            <span class="stat-card-title">
              <%= @fund.single_funders.length %>
            </span>
            <span class="stat-card-text">One-off funders</span>
          </div>
        </div>
      </div> 
    </div>

    <div class="col-xl-9">
      <figure>
        <div class="table-wrapper table-responsive-lg" role="group" tabindex="0" aria-labelledby="table-caption">
          <table class="table">
            <thead>
              <tr>
                <th># <span class="visually-hidden">Rank</span></th>
                <th>Name</th>
                <th>Total funded</th>
                <th>Donations</th>
                <th>Profile</th>
              </tr>
            </thead>
            <tbody>
            

            
            <% @fund.funders.each_with_index do |account, i| %>
              <tr class="">
                <td><%= i + 1 %></td>
                <td class="position-relative">
					<%= image_tag(account[:image_url], class: 'img-fluid rounded-circle me-3 position-absolute', height: '36', width: '36', loading: 'lazy', alt: account[:name]) %>
					<div class="ps-5 pt-1 pb-2">
						<%= account[:name] %>
					</div> 
				</td>
                <td><%= number_to_currency account[:amount] %></td>
                <td>
                  <%= account[:donations_count] %>
                </td>
                <td>
                <a href="<%= "https://#{ENV['OPENCOLLECTIVE_DOMAIN']}/#{account[:slug]}" %>" class="block-link block-link--spesh">Open Collective <%= bootstrap_icon 'box-arrow-up-right', width: 16, height: 16 %> </a>
                </td>
                
              </tr>
            <% end %>

            </tbody>
          </table>
        </div>
      </figure>
    </div>
  </div>
</div>



