<div class="container">
  <div class="row">
    <div class="col-lg-10 offset-lg-1 col-xxl-8 offset-xxl-2 hero py-5">
      <h1 class="display-1 text-center mb-5">Support the software you use, not just the software you see.</h1>
      <p class="lead text-center mb-3">Funding Open Source Software isn’t easy, how do you make sure your money goes to the right places?</p>
      <div class="row mt-5">
        <p class="col-md"><strong>ecosyste.ms</strong> is the world’s most comprehensive and accurate public dataset about open source software, its production and use. We know which projects are the most used, and we know who’s maintaining them.</p>
        <p class="col-md">We’ve sourced, indexed, and packaged millions of open source components into a few hundred curated funds, dedicated to supporting the work of critical projects and maintainers within their respective communities.</p>
      </div>
    </div>
  </div>

  <div>
  <div class="row">
    <div class="callout text-center my-5 col-lg-8 offset-lg-2 ">
      <p class="h3">We’ve officially announced ecosyste.ms, <a href="#" class="spesh-link">read the blog post</a><p>
    </div>
  </div>
  </div>
</div>
<div class="purple-bg-grad fund-promo-section ">
  <div class="container">
    <div class="row mt-5">
      <h2 class="h1 col col-lg-10 col-xl-8 mb-5 extra-bold">Sponsor the technology you rely on, we'll do the rest.</h2>
    </div>
    
    <div class="row mb-5">
      
      
      <% @featured_funds.each do |fund| %>
        <div class="col-lg-6 col-xl-3">
          <a href="<%= fund_path(fund) %>" class="card fund-card p-4 mb-3 mb-xl-0 block-link block-link--spesh">
            <div class="row align-items-center align-items-stretch">
              <div class="col-8">
                <h3 class="mb-3 block-link__title spesh-link"><%= fund.name %></h3>
                <p><span class="label">Distributed</span><strong class="value"><%= number_to_currency fund.total_distributed_cents/100 %></strong></p>
                <p><span class="label">From</span><strong class="value"><%= pluralize fund.total_donors, 'Funder'%></strong></p>
                <p><span class="label">To</span><strong class="value"><%= pluralize fund.total_funded_projects, 'Projects' %></strong></p>
              </div>
              <div class="col-4 text-end">
                <img src="<%= fund.logo_url %>" alt="" class="card-img-top img-fluid" onerror="this.style.display='none'" style="max-width: 60px;">
              </div>
            </div>
          </a>
        </div>
      <% end %>

    </div>

    <div class="row row-cols-2 row-cols-md-4 row-cols-lg-6 g-5">
      <% @funds.each do |fund| %>
        <div class="col-lg">
          <a href="<%= fund_path(fund) %>" class="fund-card fund-card--small card text-center block-link">
            <img src="<%= fund.logo_url %>" class="card-img-top" onerror="this.style.display='none'">
            <div class="card-body">
              <h3 class="card-title block-link__title">
                <%= fund.name %>
              </h3>
            </div>
          </a>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div class="container">

  <div class="row my-5">
    <div class="text-center col-12 my-5">
        <%= image_tag("ecosystems-plus-osc.png", alt: "ecosyste.ms plus Open Source Collective", class: "img-fluid mt-5", size: "699x92") %>
    </div>
    <p class="lead text-center col-md-10 col-lg-8 offset-md-1 offset-lg-2">ecosyste.ms has teamed up with the folks behind Open Source Collective to remove the barriers to supporting your critical software dependencies.</p>
  </div>

    <div class="row mt-5">
      <h2 class="h2 col col-lg-10 col-xl-8 my-5">Here's how it works</h2>
    </div>
    <div class="row mb-5 how-it-works">
      <div class="col-md-6 col-xl-3">
        <%= image_tag("fund.svg", alt: "", size: "64x56") %>
        <h3 class="h4 mt-3 mb-4">Sponsor the technology you rely on</h3>
        <p class="small">Choose from our curated funds, called ecosystems, dedicated to supporting the work of critical projects and maintainers within their respective communities.</p>
      </div>

      <div class="col-md-6 col-xl-3">
        <%= image_tag("moving-money.svg", alt: "", size: "64x56") %>
        <h3 class="h4 mt-3 mb-4">We give projects their fair share</h3>
        <p class="small">We allocate the funding  to projects according to their usage among the other dependencies in their ecosystem</p>
      </div>

      <div class="col-md-6 col-xl-3 ">
        <%= image_tag("wallet.svg", alt: "", size: "64x56") %>
        <h3 class="h4 mt-3 mb-4">Projects choose how to get paid</h3>
        <p class="small">Projects collect their funding however they want to (minus a 10% fee) using their chosen financial tools</p>
      </div>

      <div class="col-md-6 col-xl-3 ">
        <%= image_tag("magnifying-glass.svg", alt: "", size: "64x56") %>
        <h3 class="h4 mt-3 mb-4">Open, transparent, accountable</h3>
        <p class="small">You see where your money went, and how it has been spent, and the impact of your financial support</p>

      </div>
    </div>
    <div class="row flex-payments">
      <div class="col-lg-5 offset-lg-1 text-center">
        <%= image_tag("payments-spot-illo.svg", alt: "", class: "img-fluid", size: "400x300") %>
      </div>
      <div class="col-lg-5 mt-3 mt-md-3">
        <h2 class="h3 mb-4">Get started</h2>
        <p class="mb-4">Support ecosystems using your credit card or paypal account, or create an account to use throughout the year. Open Source Collective is a registered vendor to most large open source funders, including Google, Microsoft, Meta, Salesforce and many more. </p>

          <a href="#" class="btn btn-primary">Fund your ecosystems</a>
        </div>
      </div>
    </div>
  </div>
</div>

