<div class="container">
  <div class="row row-cols-2 row-cols-md-4 row-cols-lg-4 g-4 mb-3">
    
    <% @featured_funds.each do |fund| %>
      <div class="col">
        <div class="card" >
          <img src="<%= fund.logo_url %>" class="card-img-top" onerror="this.style.display='none'">
          <div class="card-body">
            <h5 class="card-title">
              <%= link_to fund.name, fund_path(fund) %>
            </h5>
            <p class="card-text">
              Distributed: <%= number_to_currency fund.total_distributed_cents/100 %><br/>
              From <%= pluralize fund.total_donors, 'Funder'%><br/>
              To <%= pluralize fund.total_funded_projects, 'Projects' %>
            </p>
          </div>
        </div>
      </div>
    <% end %>

  </div>

  <div class="row row-cols-4 row-cols-md-6 row-cols-lg-6 g-2">
    <% @funds.each do |fund| %>
      <div class="col">
        <div class="card" >
          <img src="<%= fund.logo_url %>" class="card-img-top" onerror="this.style.display='none'">
          <div class="card-body">
            <h5 class="card-title">
              <%= link_to fund.name, fund_path(fund) %>
            </h5>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>