<% @meta_title = @fund.name %>
<div class="fund-header purple-section mb-5 pt-4 pb-4">
  <div class="container">
    <div class="row">
      <% if @fund.logo_url.present? %>
        <div class="col-md-1 mb-3 pt-3">
          <img src="<%= @fund.logo_url %>" alt="" class="img-fluid fund-logo" onerror="this.style.display='none'">
        </div>
      <% end %>
      <div class="<% if @fund.logo_url.present? %>col-md-11<% end %>">
        <h1 class="display-1 extra-bold"><%= @fund.name %></h1>
        <p><%= @fund.description %></p>
        <div class="fund-header-stats">
          <div class="fund-stat-bar mb-2 mb-md-3">
            <div class="stat-card mb-2">
              <div class="stat-card-body">
                <span class="stat-card-title"><%= number_to_currency (@allocation.try(:total_cents) || 0)/100.0 %></span>
                <span class="stat-card-text small">Total funded</span>
              </div>
            </div>

            <div class="stat-card mb-2">
              <div class="stat-card-body">
                <span class="stat-card-title"><%= @allocation.try(:funders_count) || 0 %></span>
                <span class="stat-card-text small">Funders</span>
              </div>
            </div>

            <div class="stat-card mb-2">
              <div class="stat-card-body">
                <span class="stat-card-title"><%= @allocation.try(:funded_projects_count) || 0 %></span>
                <span class="stat-card-text small">Projects</span>
              </div>
            </div>
          </div> 
        </div>
        <% if @fund.open_collective_project_url.present? %>
          <%= link_to "Fund the #{@fund.name} Ecosystem on Open Source Collective", @fund.open_collective_project_url, class: 'btn btn-primary btn-fund-header-cta mb-3' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
  <% if @allocation %>
  <div class="fund-section-header mb-3 mb-md-5">
    <h2 class="h1 extra-bold"><%= @allocation.created_at.strftime('%B %d, %Y') %> <span class="badge badge-info">Latest</span></h2>
  </div>
    
<div class="row">
  <div class="col-xl-3">
    <div class="row mt-md-3">
      <div class="col-md-5 col-xl-12">
        <h3 class="fw-normal fs-6">Allocation Details</h3>
        <div class="fund-stat-bar fund-stat-bar--allocation-stat-bar mb-2 mb-md-3">
          <div class="stat-card mb-2">
            <div class="stat-card-body">
              <span class="stat-card-title"><%= number_to_currency @allocation.total_cents/100.0 %></span>
              <span class="stat-card-text extra-small">Total funded</span>
            </div>
          </div>

          <div class="stat-card mb-2">
            <div class="stat-card-body">
              <span class="stat-card-title"><%= @allocation.funders_count %></span>
              <span class="stat-card-text extra-small">Funders</span>
            </div>
          </div>

          <div class="stat-card mb-2">
            <div class="stat-card-body">
              <span class="stat-card-title"><%= @allocation.funded_projects_count %></span>
              <span class="stat-card-text extra-small">Projects</span>
            </div>
          </div>
        </div> 
      </div> 
      
      <div class="col-md-7 col-xl-12">
        <h3 class="fw-normal fs-6">Distribution Details</h3>
        <div class="fund-stat-bar fund-stat-bar--allocation-stat-bar mb-4 mb-md-5">
          <div class="stat-card mb-2">
            <div class="stat-card-body">
              <span class="stat-card-title"><%= @allocation.github_sponsored_projects_count %></span>
              <span class="stat-card-text extra-small">GitHub Sponsors</span>
            </div>
          </div>

          <div class="stat-card mb-2">
            <div class="stat-card-body">
              <span class="stat-card-title"><%= @allocation.open_collective_projects_count %></span>
              <span class="stat-card-text extra-small">Open Collective</span>
            </div>
          </div>
        
          <div class="stat-card mb-2">
            <div class="stat-card-body">
              <span class="stat-card-title"><%= @allocation.other_projects_count %></span>
              <span class="stat-card-text extra-small">Other sources <a href="#"><%= bootstrap_icon 'info-circle', width: 14, height: 14 %></a></span>
            </div>
          </div>
        
          <div class="stat-card mb-2">
            <div class="stat-card-body">
              <span class="stat-card-title"><%= @allocation.invited_projects_count %></span>
              <span class="stat-card-text extra-small">Projects invited <a href="#"><%= bootstrap_icon 'info-circle', width: 14, height: 14 %></a></span>
            </div>
          </div>
        </div> 
      </div> 
    </div> 
  </div>

  <div class="col-xl-9">
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Project</th>
          <th>Amount</th>
          <th>Score</th>
          <th>Funding Platform</th>
        </tr>
      </thead>
      <tbody>
        <% @project_allocations.each_with_index do |project_allocation, i| %>
          <% next if project_allocation.project.nil? %>

          <!-- Main Row -->
          <tr class="clickable-row" data-bs-toggle="collapse" data-bs-target="#details-<%= i %>" role="button" aria-controls="#details-<%= i %>">
            <td><%= i + 1 %></td>
            <td><%= link_to project_allocation.project, project_allocation.project.url, target: :_blank %></td>
            <td><%= number_to_currency project_allocation.amount_cents / 100.0 %></td>
            <td><%= project_allocation.score.round(3) %></td>
            <td>
              <% if project_allocation.funding_source && project_allocation.funding_source.approved? %>
                <%= link_to project_allocation.funding_source.url, target: :_blank do %>
                  <%= project_allocation.funding_source.full_name.truncate(40) %>
                <% end %>
              <% else %>
                Contacting Maintainer
              <% end %>
            </td>
          </tr>

          <!-- Expandable Row -->
          <tr id="details-<%= i %>" class="collapse">
            <td colspan="6">
              <div class="collapse" id="details-<%= i %>">
                <div class="p-4 well">
                  <p><%= bootstrap_icon 'github', width: 18, height: 18 %> <span class="visually-hidden">Repository:</span> <%= link_to project_allocation.project.url, project_allocation.project.url, target: :_blank %></p>
                  <% if project_allocation.funding_source %>
                  <p><%= bootstrap_icon 'wallet', width: 18, height: 18 %> <span class="visually-hidden">Funding:</span> <%= link_to project_allocation.funding_source.url, project_allocation.funding_source.url, target: :_blank %></p>
                  <% end %>  
                  <div class="fund-stat-bar mb-2 mb-md-3">
                    <div class="stat-card mb-2">
                      <div class="stat-card-body">
                        <span class="stat-card-title"><%= number_with_delimiter project_allocation.project&.downloads %></span>
                        <span class="stat-card-text small">Downloads</span>
                      </div>
                    </div>
                    
                    <div class="stat-card mb-2">
                      <div class="stat-card-body">
                        <span class="stat-card-title"><%= @allocation.funders_count %></span>
                        <span class="stat-card-text small">Dependent Repos</span>
                      </div>
                    </div>
            
                    <div class="stat-card mb-2">
                      <div class="stat-card-body">
                        <span class="stat-card-title"><%= number_with_delimiter project_allocation.project&.dependent_packages_count %></span>
                        <span class="stat-card-text small">Dependent Packages</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else%>
    <p>Coming soon...</p>
  <% end %>
  </div>
</div>
</div>
