<div class="container">
    <h1>
    <%= @fund.name %>
  </h1>

  <% if @fund.open_collective_project_url.present? %>
    <div >
      <%= link_to "Fund the #{@fund.name} Ecosystem on Open Collective", @fund.open_collective_project_url, class: 'btn btn-primary' %>
    </div>
  <% end %>

  <p>
    <%= @fund.description %>
  </p>

  <h2>Most Recent Allocation</h2>

  <p>
    <%= number_to_currency @allocation.total_cents/100.0 %> on <%= @allocation.created_at.strftime('%B %d, %Y') %>
  </p>

  <% if @allocation %>
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Project</th>
          <th>Amount</th>
          <th>Score</th>
          <th>Funding Platform</th>
        </tr>
        </tr>
      </thead>
      <tbody>
        <% @project_allocations.each_with_index do |project_allocation, i| %>
          <% next if project_allocation.project.nil? %>
          <tr>
            <td><%= i+1 %></td>
            <td><%= link_to project_allocation.project, project_allocation.project.url, target: :_blank %></td>
            <td><%= number_to_currency project_allocation.amount_cents/100.0 %></td>
            <td><%= project_allocation.score.round(3) %></td>
            <td>
              <% if project_allocation.funding_source %>
                <%= link_to project_allocation.funding_source.url, target: :_blank do %>
                  <%= project_allocation.funding_source.full_name.truncate(40) %>
                <% end %>
              <% else %>
                Pending
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

  <% else%>
    <p>Coming soon...</p>
  <% end %>
</div>

