<div class="container-sm">
  <h1>
    <%= @fund.name %>
  </h1>

  <p>
    <%= @fund.description %>
  </p>

  <% if @fund.open_collective_project_url.present? %>
    <p>
      Donate on Open Collective: <%= link_to @fund.open_collective_project_url, @fund.open_collective_project_url %>
    </p>
  <% end %>

  <p>Current balance: <%= number_to_currency @fund.current_balance %></p>
  <p>Total donations: <%= number_to_currency @fund.total_donations %></p>
  <p>Total expenses: <%= number_to_currency @fund.total_expenses %></p>
  <p>Total transactions: <%= number_with_delimiter @fund.transactions.count %></p>

  <h3>Transactions</h3>
  <%= render @transactions %>
  <%== pagy_bootstrap_nav(@transactions_pagy) if @transactions_pagy.pages > 1 %>  

  <h3>Allocations</h3>

  <%= render @allocations %>
  <%== pagy_bootstrap_nav(@pagy) if @pagy.pages > 1 %>  

  <h3>Funded Projects</h3>

  <%= render @projects %>
  <%== pagy_bootstrap_nav(@project_pagy) if @project_pagy.pages > 1 %>

  <p>
    <%= link_to 'See all possible projects', fund_projects_path(@fund) %>
  </p>
</div>

