<% @meta_title = @fund.name %>

<div class="container">
    <h1>
    <%= @fund.name %>
  </h1>

  <% if @fund.open_collective_project_url.present? %>
    <div >
      <%= link_to "Fund the #{@fund.name} Ecosystem on Open Source Collective", @fund.open_collective_project_url, class: 'btn btn-primary' %>
    </div>
  <% end %>

  <p>
    <%= @fund.description %>
  </p>

  <% if @allocation %>
    <h2><%= @allocation.created_at.strftime('%B %d, %Y') %></h2>

    <strong>Allocation Details</strong>

    <p>
      Total funded:
      <%= number_to_currency @allocation.total_cents/100.0 %> 
    </p>

    <p>
      Funders:
      <%= @allocation.funders_count %> 
    </p>

    <p>
      Projects: <%= @allocation.funded_projects_count %>
    </p>

    <strong>Distribution Details</strong>

    <p>
      GitHub Sponsors:
      <%= @allocation.github_sponsored_projects_count %>
    </p>

    <p>
      Open Collective:
      <%= @allocation.open_collective_projects_count %>
    </p>

    <p>
      Other Sources:
      <%= @allocation.other_projects_count %>
    </p>

    <p>
      Projects Invited
      <%= @allocation.invited_projects_count %>
    </p>


    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Project</th>
          <th>Amount</th>
          <th>Score</th>
          <th>Funding Platform</th>
        </tr>
      </thead>
      <tbody>
        <% @project_allocations.each_with_index do |project_allocation, i| %>
          <% next if project_allocation.project.nil? %>

          <!-- Main Row -->
          <tr class="clickable-row" data-bs-toggle="collapse" data-bs-target="#details-<%= i %>">
            <td><%= i + 1 %></td>
            <td><%= link_to project_allocation.project, project_allocation.project.url, target: :_blank %></td>
            <td><%= number_to_currency project_allocation.amount_cents / 100.0 %></td>
            <td><%= project_allocation.score.round(3) %></td>
            <td>
              <% if project_allocation.funding_source && project_allocation.funding_source.approved? %>
                <%= link_to project_allocation.funding_source.url, target: :_blank do %>
                  <%= project_allocation.funding_source.full_name.truncate(40) %>
                <% end %>
              <% else %>
                Contacting Maintainer
              <% end %>
            </td>
          </tr>

          <!-- Expandable Row -->
          <tr id="details-<%= i %>" class="collapse">
            <td colspan="6">
              <div class="p-3">
                <ul class='list-unstyled'>
                  <li>
                    <strong>Repository:</strong> <%= link_to project_allocation.project.url, project_allocation.project.url, target: :_blank %>
                  </li>
                  <% if project_allocation.funding_source %>
                    <li>
                      <strong>Funding:</strong>
                      <%= link_to project_allocation.funding_source.url, project_allocation.funding_source.url, target: :_blank %>
                    </li>
                  <% end %>
                  <li>
                    <strong>Downloads:</strong> <%= number_with_delimiter project_allocation.project&.downloads %>
                  </li>
                  <li>
                    <strong>Dependent Repos:</strong> <%= number_with_delimiter project_allocation.project&.dependent_repos_count %>
                  </li>
                  <li>
                    <strong>Dependent Packages:</strong> <%= number_with_delimiter project_allocation.project&.dependent_packages_count %>
                  </li>
                </ul>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

  <% else%>
    <p>Coming soon...</p>
  <% end %>
</div>

