<% @meta_title = @fund.name %>
<% @meta_description = @fund.description %>

<%= render 'funds/header' %>

<div class="container">
  <div class="row">
    <% if @allocation %>
      <%= render 'allocations/header' %>
      
      <div class="row">
        <%= render 'allocations/details' %>

        <div class="col-xl-9">
          <%= render 'funds/funders' %>
        
          <%= render 'allocations/table' %>
    <% else %>
      <%= render 'funds/blank_slate' %>
    <% end %>
    </div>
    <p class="text-end mt-3">
      <small class='text-muted'>
      Projects considered for this fund
      <% if @fund.registry_name %>
        are the most critical packages published to <strong><%= @fund.registry_name %></strong>.
      <% else %>
        have one of the following topics or keywords: <strong><%= @fund.all_keywords.join(', ') %></strong>.
      <% end %>
      </small>
    </p>
  </div>
</div>
